.itemCartStyle{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    border: 2px white;
   
}
.item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
} 

 .rowCart{
    background-color: darkslategrey;
    border: 5px solid white;
}

.border{
    border: 5px  white;
} 

.size{
    min-height: 100vh;
    /* height: 100vh;
    width: 100vw; */
    /* max-height: 100vh; */
}