.itemCartStyle {
  display: flex;

  justify-content: space-evenly;

  align-content: center;
}
.pad {
  padding: 5px;
}
.buttonCart {
  width: 50px;
  height: 30px;
}
.cartDetail {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  align-content: center;
}
.item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.rowCart {
  background-color: darkslategrey;
  border: 5px solid white;
}

.border {
  border: 5px white;
}

.size {
  min-height: 100vh;
}

.rowitem {
  border: 1px solid #c4bebe;
  margin: 6px;
  border-radius: 5px;
  padding: 3px 0 3px 0;
}
