.itemDetailStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid yellow;
    box-shadow: 3px 3px rgb(24, 233, 59), -1em 0 0.4em olive;
    border-radius: 15px;
    width: 400px;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.marginTop{
    margin-top: 30px;
}
.marginTopButton{
    margin-top: 64px;
}