.itemDetailStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid yellow;
    box-shadow: 3px 3px rgb(24, 233, 59), -1em 0 0.4em olive;
    border-radius: 15px;
    width: 400px;
    height: 600px;
    margin-top: 70px;
    margin-bottom: 70px;
    /* margin-left: 20px;
    margin-right: 20px;    */
}
.imgSize{
    width: 250px;
    /* height: 200px; */

}
.marginTop{
    margin-top: 30px;
}