.itemStyle {
  margin-top: 30px;
  border: 1px solid #036564;
  box-shadow: 3px 3px #036564, -1em 0 0.4em #cdb380;
  border-radius: 15px;
  width: 250px;
  height: 350px;

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.imgSize {
  height: 150px;
}

.marginTop {
  margin-top: 20px;
}
