.Navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: aqua; */
    background-image: url("./img-navbar/fondo-navbar-4.jpg");
    height: 80px;
}

.text-blanco{
    color: antiquewhite;
}
