

.Navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    
}
.navbarBackground{
    background-color: gray;
    background-repeat: no-repeat;
   }



.namePosition{
    display: flex;
    justify-content: right;
    /* margin-top: 40px; */
 }
@media (min-width:900px) {
    .Navbar{
        height: 80px;
    }
}

