

.Navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    background-image: url('../Navbar/assets/fondoNavbar.jpg');
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: 80% 86%;
}



.namePosition{
    display: flex;
    justify-content: right;
    margin-top: 40px;
 }