.textColorPpal{
    color: black;
}

.textColorSec{
    color: burlywood;
}

.fontMain{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flex{
    display: flex;
}
.textDecNone{
    text-decoration: none;
}